Source: dpkg-archive
Section: utils
Priority: optional
Maintainer: MLS Tidbits <contact@mlstidbits.com>
Build-Depends:
 debhelper-compat (= 13), dh-make, dh-gitchangelog, pandoc, git
Standards-Version: 4.6.0
Homepage: https://github.com/MLSTidbits/dpkg-archive
#Vcs-Browser: https://salsa.debian.org/debian/template
Vcs-Git: https://github.com/MLSTidbits/dpkg-archive.git
Rules-Requires-Root: no

Package: dpkg-archive
Architecture: any
Depends:
 dpkg-dev, jq, nano, yq
Description: A tool for managing Debian package archives
 Designed to maintain deb archives, providing a way of keeping
 packages and Release/InRelease files in sync.
