Source: repo-tools
Section: utils
Priority: optional
Maintainer: MLS Tidbits <contact@mlstidbits.com>
Build-Depends:
 debhelper-compat (= 13), dh-make, pandoc, git
Standards-Version: 4.6.0
Homepage: https://github.com/MLSTidbits/repo
#Vcs-Browser: https://salsa.debian.org/debian/template
Vcs-Git: https://github.com/MLSTidbits/repo.git
Rules-Requires-Root: no

Package: repo-tools
Architecture: any
Depends:
 dpkg-dev, jq, nano, yq, repo, repo-create, apt-ftparchive
Description: Tools for managing Debian package archives
 A set of tools to create and manage a Debian package repository,
 including signing the repository with GPG.

Package: repo
Architecture: any
Depends:
 dpkg-dev, jq, nano, yq, apt-ftparchive
Description: Keep your own Debian/Ubuntu repository up to date

Package: repo-create
Architecture: any
Depends:
 dpkg-dev, jq, nano, yq, git
Description: Create a new Debian/Ubuntu repository from scratch
